.input-container {
    display: flex;
    flex-direction: column;
    
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 10px;

    
  }
  
  .input-container label {
    margin-top: 15px;
    margin-left: 10px;
  }

  .text {
    color: rgba(255, 255, 255, 0.9);
  }
  
  /* Additional styling for the form */
  .form-container {
    padding: 20px;
    
    border-radius: 10px;
    background-color: #161B2A;
  }

  .input-container label.text input {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.16);
    margin-left: 10px;
  }
  
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  